<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>device</key>
	<dict>
		<key>cup</key>
		<dict/>
		<key>tap</key>
		<dict/>
		<key>air_bluetooth</key>
		<dict/>
		<key>air_wifi</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
	</dict>
	<key>devicetype</key>
	<dict/>
</dict>
</plist>
