<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<dict>
		<key>0</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_2</string>
				<key>pairingImg2</key>
				<string>icon_peidui_jingshuiqi_watting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_jingshuiqi</string>
				<key>pairingImg4</key>
				<string>device_jin_shui_qi_normal</string>
				<key>pairingImg5</key>
				<string>device_jin_shui_qi_select</string>
				<key>pairingText1</key>
				<string>请同时按下净水器加热与制冷两个按钮</string>
			</dict>
			<key>Name</key>
			<string>净水器</string>
			<key>ClassName</key>
			<string>WaterPurifier_Wifi</string>
			<key>ProductIDs</key>
			<array>
				<string>16a21bd6</string>
				<string>2821b472-5263-11e7-9baf-00163e120d98</string>
				<string>f4edba26-549a-11e7-9baf-00163e120d98</string>
				<string>67ea604c-549b-11e7-9baf-00163e120d98</string>
				<string>b5d03ee4-549b-11e7-9baf-00163e120d98</string>
				<string>d50cd29a-549b-11e7-9baf-00163e120d98</string>
				<string>b78e2292-549a-11e7-9baf-00163e120d98</string>
				<string>4295741c-549b-11e7-9baf-00163e120d98</string>
				<string>934ed042-549b-11e7-9baf-00163e120d98</string>
			</array>
			<key>IOType</key>
			<string>MxChip</string>
		</dict>
	</dict>
</dict>
</plist>
