<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Name</key>
			<string>水芯片净水器</string>
			<key>ClassName</key>
			<string>WaterPurifier_Blue</string>
			<key>ProductIDs</key>
			<array>
				<string>Ozner RO</string>
				<string>RO Comml</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>水芯片配对图标1</string>
				<key>pairingImg2</key>
				<string>水芯片配对图标2</string>
				<key>pairingImg3</key>
				<string>水芯片配对图标3</string>
				<key>pairingImg4</key>
				<string>水芯片配对图标4</string>
				<key>pairingImg5</key>
				<string>水芯片配对图标5</string>
				<key>pairingText1</key>
				<string></string>
			</dict>
		</dict>
		<key>1</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_0</string>
				<key>pairingImg2</key>
				<string>icon_peidui_watting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_cup</string>
				<key>pairingImg4</key>
				<string>device_cup_normal_state</string>
				<key>pairingImg5</key>
				<string>deveice_cup_select_state</string>
				<key>pairingText1</key>
				<string>请将智能水杯倒置</string>
			</dict>
			<key>Name</key>
			<string>智能水杯</string>
			<key>ClassName</key>
			<string>Cup</string>
			<key>ProductIDs</key>
			<array>
				<string>Ozner Cup</string>
				<string>智能水杯</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
		</dict>
		<key>2</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_1</string>
				<key>pairingImg2</key>
				<string>icon_peidui_tantou_watting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_tan_tou</string>
				<key>pairingImg4</key>
				<string>device_tan_tou_noamrl_state</string>
				<key>pairingImg5</key>
				<string>device_tan_tou_select_state</string>
				<key>pairingText1</key>
				<string>长按下start按钮</string>
			</dict>
			<key>Name</key>
			<string>水探头</string>
			<key>ClassName</key>
			<string>Tap</string>
			<key>ProductIDs</key>
			<array>
				<string>Ozner Tap</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
		</dict>
		<key>3</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>TDSPAN_ICON</string>
				<key>pairingImg2</key>
				<string>icon_peidui_TDSPAN_watting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_TDSPan</string>
				<key>pairingImg4</key>
				<string>device_TDSPAN_noamrl_state</string>
				<key>pairingImg5</key>
				<string>device_tdspan_select_state</string>
				<key>pairingText1</key>
				<string>长按下start按钮</string>
			</dict>
			<key>Name</key>
			<string>智能检测笔</string>
			<key>ClassName</key>
			<string>TDSPan</string>
			<key>ProductIDs</key>
			<array>
				<string>Ozner TDSPan</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
		</dict>
		<key>4</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_2</string>
				<key>pairingImg2</key>
				<string>icon_peidui_jingshuiqi_watting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_jingshuiqi</string>
				<key>pairingImg4</key>
				<string>device_jin_shui_qi_normal</string>
				<key>pairingImg5</key>
				<string>device_jin_shui_qi_select</string>
				<key>pairingText1</key>
				<string>请同时按下净水器加热与制冷两个按钮</string>
			</dict>
			<key>Name</key>
			<string>净水器</string>
			<key>ClassName</key>
			<string>WaterPurifier_Wifi</string>
			<key>ProductIDs</key>
			<array>
				<string>16a21bd6</string>
				<string>2821b472-5263-11e7-9baf-00163e120d98</string>
				<string>f4edba26-549a-11e7-9baf-00163e120d98</string>
				<string>67ea604c-549b-11e7-9baf-00163e120d98</string>
				<string>b5d03ee4-549b-11e7-9baf-00163e120d98</string>
				<string>d50cd29a-549b-11e7-9baf-00163e120d98</string>
				<string>b78e2292-549a-11e7-9baf-00163e120d98</string>
				<string>4295741c-549b-11e7-9baf-00163e120d98</string>
				<string>934ed042-549b-11e7-9baf-00163e120d98</string>
			</array>
			<key>IOType</key>
			<string>MxChip</string>
		</dict>
		<key>5</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_3zb</string>
				<key>pairingImg2</key>
				<string>icon_smallair_peidui_waitting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_smallair</string>
				<key>pairingImg4</key>
				<string>device_jin_smallair_normal</string>
				<key>pairingImg5</key>
				<string>device_jin_smallair_select</string>
				<key>pairingText1</key>
				<string></string>
			</dict>
			<key>Name</key>
			<string>台式空净</string>
			<key>ClassName</key>
			<string>AirPurifier_Blue</string>
			<key>ProductIDs</key>
			<array>
				<string>OAP</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
		</dict>
		<key>6</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>select_device_4zb</string>
				<key>pairingImg2</key>
				<string>icon_bigair_peidui_waitting</string>
				<key>pairingImg3</key>
				<string>icon_peidui_select_bigair</string>
				<key>pairingImg4</key>
				<string>device_jin_bigair_normal</string>
				<key>pairingImg5</key>
				<string>device_jin_bigair_select</string>
				<key>pairingText1</key>
				<string>同时按下电源和风速键,WiFi指示灯闪烁。</string>
			</dict>
			<key>Name</key>
			<string>立式空净</string>
			<key>ClassName</key>
			<string>AirPurifier_Wifi</string>
			<key>ProductIDs</key>
			<array>
				<string>580c2783</string>
				<string>10c347a8-562f-11e7-9baf-00163e120d98</string>
				<string>e137b6e0-2668-11e7-9d95-00163e103941</string>
			</array>
			<key>IOType</key>
			<string>MxChip</string>
		</dict>
		<key>7</key>
		<dict>
			<key>pairing</key>
			<dict>
				<key>pairingImg1</key>
				<string>WaterReplenish1_1</string>
				<key>pairingImg2</key>
				<string>WaterReplenish3</string>
				<key>pairingImg3</key>
				<string>WaterReplenish4</string>
				<key>pairingImg4</key>
				<string>WaterReplenish2</string>
				<key>pairingImg5</key>
				<string>WaterReplenish1_2</string>
				<key>pairingText1</key>
				<string>请长按开机键五秒至灯光闪烁</string>
			</dict>
			<key>Name</key>
			<string>补水仪</string>
			<key>ClassName</key>
			<string>WaterReplenish</string>
			<key>ProductIDs</key>
			<array>
				<string>OZNER_SKIN</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
		</dict>
		<key>8</key>
		<dict>
			<key>ProductIDs</key>
			<array>
				<string>NMQ_BLE</string>
			</array>
			<key>IOType</key>
			<string>Blue</string>
			<key>ClassName</key>
			<string>Electrickettle_Blue</string>
			<key>Name</key>
			<string>电热壶</string>
			<key>pairing</key>
			<dict/>
		</dict>
		<key>9</key>
		<dict>
			<key>ProductIDs</key>
			<array>
				<string>edb7b978-6aca-11e7-9baf-00163e120d98</string>
				<string>151e571a-6acb-11e7-9baf-00163e120d98</string>
			</array>
			<key>IOType</key>
			<string>MxChip</string>
			<key>Name</key>
			<string>洗碗机</string>
			<key>ClassName</key>
			<string>WashDush_Wifi</string>
		</dict>
	</dict>
</dict>
</plist>
